name: Create Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    name: Build Release Objects
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel reno

      - name: Build and publish
        run: |
          python setup.py sdist bdist_wheel

      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
          if-no-files-found: error

  pypi:
    name: Create Github Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # name: ${{ github.ref }}
          # prerelease: true
          # draft: true
          files: |
            dist/*

  release:
    name: Push to PyPI
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          packages_dir: dist/
          password: ${{ secrets.PYPI_TOKEN }}
          # password: ${{ secrets.TEST_PYPI_TOKEN }}
          # repository_url: https://test.pypi.org/legacy/
