name: Unit Tests

on:
  - push
  - pull_request

jobs:
  unittest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - 2.7
          - 3.7
          - 3.8
          - 3.9
          - '3.10'
          - 3.11

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('test-requirements.txt') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt -r test-requirements.txt pbr
          pip install -e .

      - name: Test Testtools
        run: python setup.py testr

      - name: Test PyTest
        run: pytest tests/pytest

  oldest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          architecture: 'x64'

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-oldest-${{ hashFiles('oldest-requirements.txt') }}-${{ hashFiles('test-requirements.txt') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r oldest-requirements.txt -r test-requirements.txt pbr
          pip install -e .

      - name: Test Testtools
        run: python setup.py testr

      - name: Test PyTest
        run: pytest tests/pytest
